.Cards {
    padding-top: 24px;
    &__title {
        padding: 24px 550px;
    }
    &__row {
        display: flex;
        align-items: center;
        justify-content: center;

        &__card {
            border-radius: 5px;
            box-shadow: 7px 7px 13px 0 rgba(50, 50, 50, 0.80);
            padding: 20px;
            margin: 20px;
            width: 600px;
            transition: all 0.3s ease-out;
            border-left: 3px solid rgb(255, 166, 0);

            &:hover {
                transform: translateY(5px);
                font-size: 16px;
                }

            &__image {
                float: center;
                max-width: 400px;
            }
        }
    }
}




.row {
    display: flex;
    align-items: center;
    justify-content: center;

}
.card {
    border-radius: 5px;
    box-shadow: 7px 7px 13px 0 rgba(50, 50, 50, 0.22);
    padding: 20px;
    margin: 20px;
    width: 600px;
    transition: all 0.3s ease-out;
    border-left: 3px solid rgb(255, 166, 0);
}

.card:hover {
    transform: translateY(5px);
    font-size: 16px;
}

.image {
    float: center;
    max-width: 400px;
}
