.watch {
    padding-top: 24px;
    &__title {
        padding: 24px 550px;
    }

    &__img {
        display: flex;
        margin: 0 auto;
        justify-content: center;
        padding-bottom: 22px;
        
        &__item {
            max-width: 80px;
            width: 100%;
            
            &--img-menor {
                max-width: 40px;
            }
        }
    }
}
